* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0 0 6px 1px rgba(194, 194, 194, 0.5);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 11;
  height: auto;
}
header h2 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
}
header ul {
  display: inline-block;
  list-style: none;
}
header ul li {
  display: inline-block;
  margin: 0 0.75rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 0.75rem 0;
}
.grid-container .map {
  position: sticky;
  top: 90px;
  height: calc(100vh - 6rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container .map .history-nav {
  z-index: 11111;
  position: absolute;
  top: 2%;
  left: 5%;
}
.grid-container .map .history-nav .nav-btn {
  border-radius: 50px;
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  width: 115px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.grid-container .map .history-nav .nav-btn span {
  margin-right: 0.5rem;
  font-weight: 500;
  color: #777;
}
.grid-container .map .history-nav .nav-btn i {
  color: #777;
  transition: transform 0.3s ease;
}
.grid-container .map .history-nav .drop-focus,
.grid-container .map .history-nav .nav-btn:hover {
  background-color: white;
}
.grid-container .map .history-nav .drop-focus span,
.grid-container .map .history-nav .nav-btn:hover span {
  color: black;
}
.grid-container .map .history-nav .drop-focus i,
.grid-container .map .history-nav .nav-btn:hover i {
  color: black;
}
.grid-container .map .history-nav .drop-focus i {
  transform: rotate(180deg);
}
.grid-container .map .history-nav .drop-down {
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  transform-origin: left top;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.125, 1.085, 0.325, 1.08) 0s, opacity 0.1s ease 0s;
}
@keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px);
  }
  80% {
    transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    transform: translateZ(0px) transLateY(0px);
  }
}
.grid-container .map .history-nav .drop-down ul {
  max-width: 250px;
}
.grid-container .map .history-nav .drop-down ul li {
  list-style: none;
  color: #777;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: 13px;
}
.grid-container .map .history-nav .drop-down ul li:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.grid-container .map .history-nav .drop-down ul li:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.grid-container .map .history-nav .drop-down ul li:hover {
  background-color: #ddd;
  color: black;
}
.grid-container .map .history-nav .drop-show {
  transform: scale(1);
  opacity: 1;
}
.grid-container .map .animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 290px;
  left: 420px;
  margin: auto;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.grid-container .map .animation-container .load {
  width: 40px;
  height: 40px;
  border: solid 5px #00226a;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.grid-container .map .animation-container .dot-spin {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 #f74d75, 12.727926px -12.727926px 0 0 #10beae, 18px 0 0 0 #ffe386, 12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 rgba(152, 128, 255, 0);
  animation: dot-spin 1.5s infinite linear;
}
@keyframes dot-spin {
  0%, 100% {
    box-shadow: 0 -18px 0 0 #ffe386, 12.727926px -12.727926px 0 0 #f74d75, 18px 0 0 0 #10beae, 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 0 #10beae, 18px 0 0 0 #ffe386, 12.727926px 12.727926px 0 0 #f74d75, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #f74d75, 12.727926px 12.727926px 0 0 #10beae, 0 18px 0 0 #ffe386, -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 0 #ffe386, 0 18px 0 0 #f74d75, -12.727926px 12.727926px 0 0 #10beae, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #10beae, -12.727926px 12.727926px 0 0 #ffe386, -18px 0 0 0 #f74d75, -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 #f74d75, -18px 0 0 0 #10beae, -12.727926px -12.727926px 0 0 #ffe386;
  }
  75% {
    box-shadow: 0 -18px 0 0 #ffe386, 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #ffe386, -12.727926px -12.727926px 0 0 #f74d75;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #ffe386, 12.727926px -12.727926px 0 0 #ffe386, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 #10beae;
  }
}
.grid-container .map #circle-container {
  height: 600px;
  width: 100%;
}
.grid-container .map #circle-container .sc {
  cursor: pointer;
  transition: stroke-width 0.3s, transform 0.3s, fill 0.3s;
  transform-origin: 50% 50%;
}
.grid-container .map #circle-container text {
  cursor: pointer;
}
.grid-container .map #circle-container .sc:hover {
  stroke: black;
  stroke-width: 6;
  transform: scale(1);
  fill: black;
}
.grid-container .map #circle-container .highlight {
  fill: black;
}
.grid-container .map #circle-container .highlight-thread {
  stroke: rgba(0, 0, 0, 0.4352941176);
}
.grid-container .content {
  display: flex;
  width: 100%;
  padding: 1rem;
}
.grid-container .content .card {
  max-height: 100%;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 0px 2px 1px rgba(200, 199, 199, 0.5);
}
.grid-container .content .card .card-head-content {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: white;
}
.grid-container .content .card .card-head-content .black-layer {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.grid-container .content .card .card-head-content .black-layer h4 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.grid-container .content .card .card-head-content .black-layer span {
  font-size: 1.1rem;
}
.grid-container .content .card .card-body-content {
  padding: 1rem 1.5rem;
}
.grid-container .content .card .card-body-content h4 {
  color: #444;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.grid-container .content .card .card-body-content p {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  line-height: 150%;
  max-height: 70px;
  overflow: hidden;
}
.grid-container .content .card .card-body-content span {
  display: inline-block;
  font-size: 0.8rem;
  color: #333;
  margin-bottom: 2rem;
  font-weight: 600;
  cursor: pointer;
}
.grid-container .content .card .card-body-content .expanded-content {
  max-height: none;
}
.grid-container .content .card .card-body-content .icons {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.grid-container .content .card .card-body-content .icons .icon {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}
.grid-container .content .card .card-body-content .icons .icon i {
  font-size: 1.5rem;
  color: #777;
  margin-bottom: 1rem;
}
.grid-container .content .card .card-body-content .icons .icon span {
  color: #888;
  font-weight: 500;
}

footer {
  padding-bottom: 2rem;
  padding-top: 0.25rem;
}
footer h2 {
  text-align: center;
  font-size: 1rem;
  color: #333;
}

@media (max-width: 1300px) {
  .grid-container .map .animation-container {
    left: 310px;
  }
}
@media screen and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
  }
  .grid-container .map {
    grid-row-start: 1;
    position: static;
    top: 0;
    height: auto;
  }
  .grid-container .map .history-nav {
    top: 15%;
    z-index: inherit;
  }
  .grid-container .map .animation-container {
    left: 450px;
    top: 365px;
  }
  .grid-container .map #circle-container {
    width: 100%;
  }
  .grid-container .content {
    grid-row-start: 2;
  }
}
@media screen and (max-width: 950px) {
  .grid-container .map .animation-container {
    left: 390px;
  }
}
@media screen and (max-width: 800px) {
  .grid-container .map .animation-container {
    left: 340px;
  }
}