$textColor: rgba(0, 0, 0);
$holderCircleStroke: #0000006f;
$smallCircleStroke: rgba(0, 0, 0, .7);
$strokeWidth: 2px;
$backgroundColor: #f2f2f2;

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;

    // perspective: 0;
    // -webkit-perspective: 0;
    // -webkit-backface-visibility: hidden;
    // visibility:visible;
    // backface-visibility: hidden;
}

body {
    background-color: #f2f2f2;
}


// Global styles
.pointer {
    cursor: pointer !important;
}

.hidden {
    display: none !important;
}

.right-align {
    // transform-origin: center right !important;
    text-align: right !important;
}

.highlight-circle {
    fill: black !important;
}

.popup-show {
    overflow: hidden !important;
}

.thread:hover,
.highlight-thread {
    stroke: #0000006f !important;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0 0 6px 1px rgba(194, 194, 194, .5);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 11;
    height: auto;

    h2 {
        font-weight: 600;
        color: rgba(0, 0, 0, .7);
        font-size: 2rem;
    }

    ul {
        display: inline-block;
        list-style: none;

        li {
            display: inline-block;
            margin: 0 .75rem;
            font-size: 1.1rem;
            color: rgba(0, 0, 0, .8);
            font-weight: 500;
            cursor: pointer;
        }
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: .75rem 0;
    transition: all .5s ease;

    .map {
        position: sticky;
        top: 97px;
        height: calc(100vh - 9rem);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .history-nav {
            z-index: 11111;
            position: absolute;
            top: 2%;
            left: 2%;

            .nav-btn {
                // margin-bottom: .5rem;
                border-radius: 50px;
                padding: .75rem 1.2rem;
                width: 115px;
                display: flex;
                align-items: center;

                span {
                    margin-right: .5rem;
                    font-weight: 500;
                    color: #777;
                }

                i {
                    color: #777;
                    transition: transform .3s ease;
                }

                transition: color .3s ease,
                background-color .3s ease;
            }

            .drop-focus,
            .nav-btn:hover {
                background-color: white;

                span {
                    color: black;
                }

                i {
                    color: black;
                }
            }

            .drop-focus {
                i {
                    transform: rotate(180deg);
                }
            }

            .drop-down {
                margin-top: .5rem;
                background-color: white;
                border-radius: .25rem;

                // animation: downOut 300ms ease-in-out forwards;
                transform-origin: left top;
                transform: scale(0);
                opacity: 0;
                transition: transform 0.5s cubic-bezier(0.125, 1.085, 0.325, 1.08) 0s, opacity 0.1s ease 0s;

                @keyframes downOut {
                    0% {
                        transform: translateZ(200px) transLateY(40px)
                    }

                    80% {
                        transform: translateZ(-10px) transLateY(0px)
                    }

                    100% {
                        transform: translateZ(0px) transLateY(0px)
                    }
                }

                ul {
                    max-width: 250px;

                    li {
                        list-style: none;
                        color: #777;
                        padding: .75rem 1rem;
                        cursor: pointer;
                        transition: color .3s ease, background-color .3s ease;
                        font-size: 13px;
                    }

                    li:first-child {
                        border-top-left-radius: .25rem;
                        border-top-right-radius: .25rem;
                    }

                    li:last-child {
                        border-bottom-left-radius: .25rem;
                        border-bottom-right-radius: .25rem;
                    }

                    li:hover {
                        background-color: #ddd;
                        color: black;
                    }
                }
            }

            .drop-show {
                transform: scale(1);
                opacity: 1;
            }
        }

        .animation-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            position: absolute;
            top: 45%;
            left: 46.5%;
            margin: auto;

            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }

            @-webkit-keyframes rotate {
                from {
                    -webkit-transform: rotate(0deg);
                }

                to {
                    -webkit-transform: rotate(360deg);
                }
            }

            .load {
                width: 40px;
                height: 40px;
                // margin: 110px auto 0;
                border: solid 5px #00226a;
                border-radius: 50%;
                border-right-color: transparent;
                border-bottom-color: transparent;
                -webkit-transition: all 0.5s ease-in;
                -webkit-animation-name: rotate;
                -webkit-animation-duration: 1.0s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;

                transition: all 0.5s ease-in;
                animation-name: rotate;
                animation-duration: 1.0s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            .dot-spin {
                // position: relative;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: transparent;
                color: transparent;
                box-shadow: 0 -18px 0 0 #f74d75, 12.727926px -12.727926px 0 0 #10beae, 18px 0 0 0 #ffe386, 12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 rgba(152, 128, 255, 0);
                animation: dot-spin 1.5s infinite linear;
            }

            //         background-color: #f74d75;
            //         background-color: #10beae;
            //         background-color: #ffe386;

            @keyframes dot-spin {

                0%,
                100% {
                    box-shadow: 0 -18px 0 0 #ffe386, 12.727926px -12.727926px 0 0 #f74d75, 18px 0 0 0 #10beae, 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
                }

                12.5% {
                    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 0 #10beae, 18px 0 0 0 #ffe386, 12.727926px 12.727926px 0 0 #f74d75, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
                }

                25% {
                    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #f74d75, 12.727926px 12.727926px 0 0 #10beae, 0 18px 0 0 #ffe386, -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
                }

                37.5% {
                    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 0 #ffe386, 0 18px 0 0 #f74d75, -12.727926px 12.727926px 0 0 #10beae, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
                }

                50% {
                    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #10beae, -12.727926px 12.727926px 0 0 #ffe386, -18px 0 0 0 #f74d75, -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
                }

                62.5% {
                    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 0 #f74d75, -18px 0 0 0 #10beae, -12.727926px -12.727926px 0 0 #ffe386;
                }

                75% {
                    box-shadow: 0 -18px 0 0 #ffe386, 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #ffe386, -12.727926px -12.727926px 0 0 #f74d75;
                }

                87.5% {
                    box-shadow: 0 -18px 0 0 #ffe386, 12.727926px -12.727926px 0 0 #ffe386, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 #10beae;
                }
            }
        }

        .panel-effect-animation {
            left: 48%;
        }

        @keyframes thread-connect {
            to {
                stroke-dashoffset: 0;
            }
        }

        #circle-container {
            height: 100%;
            width: 100%;
            overflow: visible;

            .top-g-node {
                transition: transform 0.5s ease;
            }

            .center-image-div {
                height: 100%;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                opacity: 0;
                // transform: scale(0);
                // transition: transform .75s cubic-bezier(0.125, 1.085, 0.325, 1.08) .3s, opacity .75s ease .3s;
                transition: opacity .75s ease .3s;
            }

            .center-image-matte {
                width: 100%;
                height: 100%;
                padding: .5rem;
                color: white;
                font-size: 16px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                background-color: rgba(0, 0, 0, .5);
                border-radius: 50%;
            }

            .stroke-circle {
                stroke: $holderCircleStroke;
                stroke-width: $strokeWidth;
                fill: none;
                transition: all .5s ease;
            }

            .node {
                transition: all .5s ease;
            }

            .bounce {
                transition: transform 0.375s ease, fill 300ms ease;
                transform: scale(1);
            }

            .bounce:hover {
                transform: scale(1.1);
                transition: transform 0.375s cubic-bezier(0.095, 2, 0.555, 1.475), fill 300ms ease;
            }

            .small-circle {
                fill: $backgroundColor;
                stroke: $smallCircleStroke;
                stroke-width: $strokeWidth - 0.5;
                opacity: 0;
                transition: transform .3s ease, fill .5s ease, opacity .6s ease .2s;
                transform-origin: 50% 50%;
            }

            .small-circle:hover {
                transform: scale(1);
                fill: black;
            }

            .content-fo {
                overflow: visible;
            }

            .c-text {
                font-size: 12px;
                color: $textColor;
                font-weight: 600;
                opacity: 0;
                // transform: scale(0);
                // transform-origin: top left;
                // transition: transform .5s cubic-bezier(0.125, 1.085, 0.325, 1.08) .5s, opacity .5s ease .5s;
                transition: opacity .5s ease .5s;
            }

            .sc-text {
                font-size: 10px;
                color: $textColor;
                font-weight: 600;
                opacity: 0;
                // transform: scale(0);
                // transform-origin: top left;
                // transition: transform .5s cubic-bezier(0.125, 1.085, 0.325, 1.08) .5s, opacity .5s ease .5s;
                transition: opacity .5s ease .5s;
            }

            .thread {
                transition: opacity .3s ease;
                opacity: 0;
            }

            .view {
                opacity: 1;
                // transform: scale(1);
            }

            .view-circle {
                opacity: 1;
            }

            .view-thread {
                opacity: 1;
                stroke-dasharray: 700;
                stroke-dashoffset: 700;
                animation: thread-connect 3s linear forwards;
            }
        }
    }

    .content {
        display: flex;
        width: 100%;
        padding: 1rem;
        overflow: hidden;

        .hide-panel {
            position: fixed;
            bottom: 10%;
            right: 40%;
            border-radius: 50px;
            padding: .75rem 1.2rem;
            display: flex;
            align-items: center;
            justify-content: right;
            transition: background-color .3s ease, right .5s ease;
            width: 143px;

            span {
                margin-right: 8px;
                font-size: 16px;
                font-weight: 500;
                text-wrap: nowrap;
            }

            i {
                transition: transform .3s ease;
            }

            .panel-effect-icon {
                transform: rotate(-180deg);
            }
        }

        .panel-effect-button {
            overflow: hidden;
            right: 2%;
            width: 10px;
            transition: width .3s ease, right .5s ease;
        }

        .panel-effect-button:hover {
            width: 148px;
        }

        .hide-panel:hover {
            background-color: white;
        }

        .popup-layer {
            background-color: rgba(0, 0, 0, .5);
            width: 100vw;
            height: 100vh;
            z-index: 1111111111;
            position: absolute;
            top: 0;
            left: 0;

            .popup-image {
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        .card {
            max-height: 100%;
            border-radius: .5rem;
            background-color: #fff;
            box-shadow: 0px 0px 2px 1px rgb(200, 199, 199, .5);
            position: relative;
            left: 0px;
            transition: left .5s ease;

            .card-head-content {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 170px;
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
                color: white;


                .black-layer {
                    background-color: rgba(0, 0, 0, 0.4);
                    // padding: 1.5rem;
                    // height: 170px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    border-top-left-radius: .5rem;
                    border-top-right-radius: .5rem;

                    h4 {
                        font-size: 1.25rem;
                        margin-bottom: .5rem;
                        font-weight: 600;
                    }

                    span {
                        font-size: 1.1rem;
                    }
                }
            }

            .card-body-content {
                padding: 1rem 1.5rem;

                h4 {
                    color: #444;
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }

                p {
                    display: grid;
                    color: #444;
                    font-size: .9rem;
                    margin-bottom: 1rem;
                    line-height: 150%;
                    max-height: 70px;
                    overflow: hidden;
                    transition: max-height 0.3s ease 0s;

                    a {
                        color: #444;
                        // font-weight: 500;
                        font-size: 13px;
                    }
                }

                span {
                    display: inline-block;
                    font-size: .8rem;
                    color: #333;
                    margin-bottom: 2rem;
                    font-weight: 600;
                    cursor: pointer;
                }

                .expanded-content {
                    max-height: initial;
                }

                .icons {
                    display: flex;
                    align-items: center;
                    padding-left: 1rem;

                    .icon {
                        margin-right: 2rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 0.5rem;
                        cursor: pointer;

                        i {
                            font-size: 1.5rem;
                            color: #777;
                            margin-bottom: 1rem;
                        }

                        span {
                            color: #888;
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .hide-card {
            left: 800px;
            // transition: left .5s ease;
        }
    }
}

.panel-effect-grid {
    grid-template-columns: 97% 0%;
}

.image-center {
    // width: 300px;
    // height: 200px;
    width: 70%;
    height: 100%;
    justify-self: center;
}


footer {
    padding-bottom: .75rem;
    padding-top: .25rem;

    h2 {
        text-align: center;
        font-size: 1rem;
        color: #333;
    }
}



@media (max-width: 1100px) {
    .grid-container {
        .map {
            #circle-container {
                .c-text {
                    font-size: 11px;
                }

                .sc-text {
                    font-size: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;

        .map {
            grid-row-start: 1;
            position: static;
            top: 0;
            height: auto;

            .history-nav {
                top: 15%;
                z-index: inherit;
            }

            .animation-container {
                top: 53%;
            }

            #circle-container {
                width: 100%;
                height: 650px;

                .c-text {
                    font-size: 13px;
                }

                .sc-text {
                    font-size: 10px;
                }
            }
        }

        .content {

            .hide-panel {
                display: none;
            }

            grid-row-start: 2;
        }
    }
}